.teksts {
  text-align:center;
  vertical-align:center;
  display: flex;
  padding: 8px 16px 5px;
  margin: 4px 6px;
  background-color: #669999;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  
}
.centrs {
  text-align:center;
  font-size: 14px;
  font-family:Helvetica;
 
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.arejaKaste{
  border-style:ridge;
  border-color:#669999;
  border-width:10px;
  background-color:lightblue;
  padding: 10px 10px 10px 10px;
  margin: auto;
  width:28%;
  
}
.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #33cc33;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 58%;
  left: 55%;
  border-radius: 12px;
  
}

.button1:hover {
  background-color: #33cc33;
  color: white;
  
}  
.button2 {
  background-color: white;
  color: black;
  border: 2px solid #ff0000;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 58%;
  right: 56%;
  border-radius: 12px;
  
}
.button2:hover {
  background-color: #cc0000;
  color: white;
  
}  
