.teksts {
display: flex;
padding: 16px 32px 8px;
margin: 8px 12px;
background-color: #00ffff;
font-family: 'Courier New', Courier, monospace;
font-size: 32px;
}
.arejaKaste{
  border-style:dotted
  border-color:blue;
  background-color:lightblue;
  padding: 10px 10px 10px 10px;
  margin: 50px 20px 50px 20px;
}
    
